<div class="main-container">
  <div class="col-sm-4">
    <div class="container text-center">
      <div class="title-main">
        <div class="row">
          <h1>Home</h1>
        </div>
      </div>

      <div class="title-sec-pg2">
        <h1>Here we should have:</h1>
        <div class="row">
          <div class="row-margin-nav">
            <div class="col-sm-6">
              <div> <%= link_to "Month challenge" , "/home.html", class: "btn-sign" %> </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div> <%= link_to "feed" , "/times/feed.html", class: "btn-sign" %> </div>
          </div>
        </div>
      </div>

      <div class="li">
        <div class="ul">picture of the track</div>
        <div class="ul">picture of the car</div>
        <div class="ul">list of the times
          <div class="li">
            <ol>with name</ol>
            <ol>country</ol>
            <ol>company</ol>
            <ol>time</ol>
          </div>
          <div> <%= link_to "Register a new time" , "/times/feed.html", class: "btn-sign" %> </div>
        </div>
      </div>
    </div>
  </div>
</div>

